<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./layout/head :: head_fragment(links = ~{::link})">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store Update</title>
</head>

<body>
<!-- Header -->
<div th:replace="./layout/header :: header_fragment"></div>
<!-- Omise Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title text-center text-primary text-uppercase">Our Omise</h6>
      <h1 class="mb-5">My <span class="text-primary text-uppercase">Omise</span></h1>
    </div>
    <div class="row g-4 bg-white">
      <div th:each="list : ${updateStoreList}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="room-item shadow rounded overflow-hidden">
          <div class="position-relative">
            <img th:src="${list.filepath}" class="img-fluid" alt="">
            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$100/Night</small>
          </div>
          <div class="p-4 mt-2">
            <div class="d-flex justify-content-between mb-3">
              <h5 th:text="${list.name}" class="mb-0"></h5>
              <!--                <div class="ps-2">-->
              <!--                  <small class="fa fa-star text-primary"></small>-->
              <!--                  <small class="fa fa-star text-primary"></small>-->
              <!--                  <small class="fa fa-star text-primary"></small>-->
              <!--                  <small class="fa fa-star text-primary"></small>-->
              <!--                  <small class="fa fa-star text-primary"></small>-->
              <!--                </div>-->
            </div>
            <div class="d-flex mb-3">
              <small th:text="${list.category}" class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i></small>
              <small th:text="${list.category}" class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i></small>
              <small th:text="${list.category}" ><i class="fa fa-wifi text-primary me-2"></i></small>
            </div>
            <p th:text="${list.category}"  class="text-body mb-3"></p>
            <div class="d-flex justify-content-between">
              <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
              <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="text-center pagination" style="display: contents;">-->
<!--      <div th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--        <a th:if="${page != nowPage}" th:href="@{/(page = ${page - 1})}" th:text="${page}"></a>-->
<!--        <span class="active" th:if="${page == nowPage}" th:text="${page}"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Footer -->
<div th:replace="./layout/footer :: footer_fragment"></div>
</body>

</html>