<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head_fragment(links = ~{::link})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
<!-- Header -->
<div th:replace="layout/header :: header_fragment"></div>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">Login</h4>
            <form class="login-form" action="/login/pro" method="post" novalidate>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please Write Email
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">
                        Please Write Password
                    </div>
                </div>
                <hr class="mb-4">
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="layout/footer :: footer_fragment"></div>

<!-- Template Javascript -->
<script src="../js/login.js"></script>
</body>

</html>